.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 5px;
}

#Judul{
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #4e342e;
}

.container {
  position: relative;
  width: 400px;
}

.Gambar {
  width: 100%;
  display: block;
}

#Isi{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4e342e;
  font-size: 24px;
  font-weight: bold;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
}

#Utama{
  position: absolute;
  top: 25%;
  left: 26%;
  font-size: 80px;
  font-weight: bold;
  color:white;
}

